.multidropdown-input-el {
  position: relative;
}

.remove-item-dropdown {
  top: 0;
}

.multi-dropdown {
  margin-top: 1em;
}

.remove-item {
  padding-right: 1em;
  box-sizing: border-box;
}

.dropdown {
  box-sizing: border-box;
  padding-right: 0.5em;
}

.float-text {
  padding-left: 0.5em;
}
