:root {
  --nav-background-color: blue;
  --nav-item-background-color: red;
  --nav-font-color: white;
}

.nav {
  width: 100%;
  background: var(--nav-background-color);
}

.nav-item, .nav-item-idle {
  text-align: center;
  color: var(--nav-font-color);
  background: var(--nav-item-background-color);
  box-sizing: border-box;
  overflow: hidden;
}

.nav-item {
  padding: 1em;
  font-size: 1em;
  transition: all 1s;
  height: 3em;
  user-select: none;
  cursor: pointer;
}

.nav-item-idle {
  height: 0;
  background: var(--nav-item-background-color);
  box-sizing: border-box;
  transition: all 1s;
}

.nav-toggle {
  transition: all 1s;
  text-align: center;
  color: white;
}

.nav-toggle-closed {
  padding: 1em;
}

.nav-toggle-open {
  padding: 0.5em;
}

.nav-item:hover {
  filter: brightness(80%);
}

.nav-item:active {
  filter: brightness(60%);
}