/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

.react-date-time {
  position: relative;
}

.react-date-time-picker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.react-date-time-open .react-date-time-picker {
  display: block;
}
.react-date-time-static .react-date-time-picker {
  box-shadow: none;
  position: static;
}

.react-date-time-picker .react-date-time-time-toggle {
  text-align: center;
}

.react-date-time-picker table {
  width: 100%;
  margin: 0;
}
.react-date-time-picker td,
.react-date-time-picker th {
  text-align: center;
  height: 28px;
}
.react-date-time-picker td {
  cursor: pointer;
}
.react-date-time-picker td.react-date-time-day:hover,
.react-date-time-picker td.react-date-time-hour:hover,
.react-date-time-picker td.react-date-time-minute:hover,
.react-date-time-picker td.react-date-time-second:hover,
.react-date-time-picker .react-date-time-time-toggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.react-date-time-picker td.react-date-time-old,
.react-date-time-picker td.react-date-time-new {
  color: #999999;
}
.react-date-time-picker td.react-date-time-today {
  position: relative;
}
.react-date-time-picker td.react-date-time-today:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.react-date-time-picker td.react-date-time-active,
.react-date-time-picker td.react-date-time-active:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.react-date-time-picker td.react-date-time-active.react-date-time-today:before {
  border-bottom-color: #fff;
}
.react-date-time-picker td.react-date-time-disabled,
.react-date-time-picker td.react-date-time-disabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.react-date-time-picker td span.react-date-time-old {
  color: #999999;
}
.react-date-time-picker td span.react-date-time-disabled,
.react-date-time-picker td span.react-date-time-disabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.react-date-time-picker th {
  border-bottom: 1px solid #f9f9f9;
}
.react-date-time-picker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.react-date-time-picker th.react-date-time-switch {
  width: 100px;
}
.react-date-time-picker th.react-date-time-next,
.react-date-time-picker th.react-date-time-prev {
  font-size: 21px;
  vertical-align: top;
}

.react-date-time-prev span,
.react-date-time-next span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.react-date-time-picker th.react-date-time-disabled,
.react-date-time-picker th.react-date-time-disabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.react-date-time-picker thead tr:first-child th {
  cursor: pointer;
}
.react-date-time-picker thead tr:first-child th:hover {
  background: #eeeeee;
}

.react-date-time-picker tfoot {
  border-top: 1px solid #f9f9f9;
}

.react-date-time-picker button {
  border: none;
  background: none;
  cursor: pointer;
}
.react-date-time-picker button:hover {
  background-color: #eee;
}

.react-date-time-picker thead button {
  width: 100%;
  height: 100%;
}

td.react-date-time-month,
td.react-date-time-year {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.react-date-time-month:hover,
td.react-date-time-year:hover {
  background: #eee;
}

.react-date-time-counters {
  display: inline-block;
}

.react-date-time-counters > div {
  float: left;
}

.react-date-time-counter {
  height: 100px;
}

.react-date-time-counter {
  width: 40px;
}

.react-date-time-counter-separator {
  line-height: 100px;
}

.react-date-time-counter .react-date-time-button {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.react-date-time-counter .react-date-time-button:hover {
  background: #eee;
}
.react-date-time-counter .react-date-time-count {
  height: 20%;
  font-size: 1.2em;
}

.react-date-time-milli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.react-date-time-milli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.react-date-time-time td {
  cursor: default;
}
