.buy-button {
  color: white;
  background-color: orange;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid grey;
  cursor: pointer;
}

.buy-button:hover {
  filter: brightness(80%);
}

.buy-button:active {
  filter: brightness(60%);
}
